<include file="Public/header" title="后台主页" />
<div id="page-wrapper">
    <div class="page-breadcrumb">
        <div class="change-breadcrumb">
            <ol class="breadcrumb bg-breadcrumb">
                <li><a href="{:U('Dashboard/transactionStatus')}">首页</a></li>
                <li class="active">交易状态</li>
            </ol>
        </div>
        <div class="change-text">
            <h5>切换产品:</h5>
        </div>
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                GrennT_asia <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">GrennT_asia</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">GrennT_asia1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">GrennT_asia2</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div>
        <p>
            <h3>交易状态</h3>
        </p>
    </div>

</div>

<include file="Public/footer" />