<include file="Public/header" title="后台主页" />
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb bg-breadcrumb" style="background-color: transparent">
                <li><a href="{:U('Dashboard/transactionStatus')}">首页</a></li>
                <li class="active">交易状态</li>
            </ol>
        </div>
        <div class="col-md-2">
            <p class="text-right" style="padding-top: 8px">切换产品:</p>
        </div>
        <!-- Single button -->
        <div class="col-md-2">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                GrennT_asia <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">GrennT_asia</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">GrennT_asia1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">GrennT_asia2</a></li>
            </ul>
        </div>
    </div>
    <div style="clear: both" >
        <p>
            <h3>交易状态</h3>
        </p>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <label class="hydra-label" for="sel_sites">站点:</label>
                <select class="hydra-select" id="sel_sites"><option value="114">LiTong_China</option></select>
            </div>

            <div class="col-md-4">
                <label class="hydra-label" for="sel_operators">操作员:</label>
                <select class="hydra-select" id="sel_operators">
                    <option value="-1">- 选择操作员 -</option>
                    <option value="560">marco</option>
                    <option value="757">billgreenT1</option>
                    <option value="758">wanIRT1</option>
                    <option value="1117">ltcomputer</option>
                    <option value="1318">litonghk</option>
                </select>
            </div>
        </div>
    </div>

    <div id="myecharts" style="height:400px;width:800px;"></div>


</div>

<include file="Public/myecharts"/>

<include file="Public/footer" />