<ul class="nav nav-tabs nav-stacked side-nav">
    <li  class="dropdown">
        <a href="{:U('index/index')}"><i class="fa fa-dashboard"></i><br>仪表盘</a>
    </li>
    <li class="dropdown">
        <a href="#"><i class="fa fa-reorder"></i><br>组织管理</a>
    </li>
    <li class="dropdown">
        <a href="#"><i class="fa fa-edit"></i><br>产品工具</a>
    </li>
    <li class="dropdown">
        <a href="#"><span class="dropdownspan"><i class="fa fa-file-text-o"></i></span><br>交易信息</a>
    </li>
    <li class="dropdown">
        <a href="#"><i class="fa fa-users"></i><br>我的资料</a>
    </li>
     <li class="dropdown">
        <a href="#"><i class="fa fa-info"></i><br>关于</a>
    </li>
</ul>